<form>
    <div class="form-group">
        <label>{{ localize "BREAK.RollSituationalBonus" }}</label>
        <input type="text" name="bonus" value="" placeholder="{{ localize 'DND5E.RollExample' }}"/>
    </div>
    <div class="form-group">
        <label>{{ localize "DND5E.RollMode" }}</label>
        <select name="rollMode">
            {{selectOptions rollModes selected=defaultRollMode localize=true}}
        </select>
    </div>
</form>
